<?xml version="1.0" encoding="utf-8" ?>
<RIFFSection>
  <license token1="" token2="" />
  <engine enginename="EmptyEngine" assembly="RIFF.Framework.dll" class="RIFF.Framework.RFEmptyEngine" environment="TEST" database="Server=(localdb)\MSSQLLocalDB;Database=RIFF;Integrated Security=True;">
  </engine>
</RIFFSection>
