@model RIFF.Web.Core.Models.ErrorModel
@{
    ViewBag.Title = "RIFF Error";
    Layout = "~/Views/Core/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="dx-theme-generic-typography" style="width: 75%; margin: 0 auto; min-width: 400px;">
        <hgroup>
            <h1>Error</h1>
            @if (!string.IsNullOrWhiteSpace(Model.Message) && Model.Message.Contains("There was no endpoint"))
            {
                <h3>System is offline.</h3>
            }
            else
            {
                <h3>@Model.Message</h3>
            }
        </hgroup>
        @if (Model.Exception != null || Model.DebugInfo != null)
        {
            <div>
                <blockquote>
                    <h4>Technical information</h4>
                    @if (Model.Exception != null)
                {
                        <div>
                            @Model.Exception.Message
                        </div>
                    }
                    @if (Model.DebugInfo != null)
                {
                        <div>
                            @Model.DebugInfo
                    </div>
                    }
                </blockquote>
            </div>
        }
        <br />
        <p>
            <a href="@Url.Action(Model.RedirectAction, Model.RedirectController, Model.RouteValues)">Continue</a>
        </p>
    </div>
</body>
</html>
