<?xml version="1.0" encoding="utf-8" ?>
<!--
ROHATSU RIFF FRAMEWORK / copyright (c) 2014-2017 rohatsu software studios limited / www.rohatsu.com
-->
<RIFFSection>
  <license token1="cm9oYXRzdSBzb2Z0d2FyZSBzdHVkaW9zIElOVEVSTkFMIFRFU1RJTkd8MjAxNy0xMi0zMQ==" token2="26WQwrbDhHf8TsiyKPa27h/JsoyVWADpXwjEu2ZajVydMM+b8xXou3gngvP1Iwl3MsbbgeCNM0Ui5ueyAwcMnO1AmWLPMJyMNaIGsTxc0s8ruzkZvM4vsr07AkaR8SPQTMtfjDYmKxUw8qKqLaPnxEFJMI4ZyK5io5m6Df5xhJI=" />
  <engine enginename="RIFFTests" assembly="RIFF.Tests.dll" class="RIFF.Tests.TestEngine" environment="TEST" database="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=RIFF_Tests">
  </engine>
</RIFFSection>
